# Auto detect text files and perform LF normalization
* text=auto

# Forzar C++ como lenguaje principal
*.cpp linguist-language=C++
*.h linguist-language=C++

# Excluir Makefile y otros del análisis de lenguaje
Makefile linguist-vendored
*.md linguist-vendored
